header {
	border-bottom: 1px solid #e9e9e9;
}

.icrbm-checkbox {
    width: 23px;
    height: 23px;
    float: left;
}

.icrbm-checkbox-label {
    padding-left: 5px;
    width: 90%;
}



.icrbm-autor .icrbm-autor-button{
	float: left;
	width: 50%;
	margin: 0 auto;
	background-color: #0a4d9c; 
}

.icrbm-autor .icrbm-autor-button a{
	padding-left: 5px;
	height: 25px;
	color: white;
}

.icrbm-autor .icrbm-autor-button:hover{
	background-color: #4d73d6;
}

.icrbm-autor .icrbm-autor-title{
	margin: 0 auto;
	text-align: center;
	height: 46px;
	border: 1px solid #526e8c;
	overflow: hidden;
}

.icrbm_papers {
	border: 1px solid #007bff69;
	padding: 15px;
}

.icrbm_add_paper {
    padding: 27px 15px;
    background-color: #09dc09;
}

.icrbm_add_paper a,
.icrbm_add_paper h3{
	color: white;
	text-align: center;
}

.table-label-icrbm,
.table-label-true-icrbm ,
.table-label-neutral-icrbm,
.table-label-false-icrbm {
	word-break: break-word;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	text-align: center;
	color: white;
}

.table-label-true-icrbm ,
.table-label-neutral-icrbm,
.table-label-false-icrbm {
	padding-top: 1.8%;
}

.table-label-icrbm {
	background-color: #0a4d9c;
	line-height: 69px;
}

.table-label-neutral-icrbm,
.table-neutral-icrbm {
	background-color: #ffcc00;
}

.table-label-false-icrbm,
.table-false-icrbm {
	background-color: #cc3300;
}

.table-label-true-icrbm ,
.table-true-icrbm {
	background-color: #339900;
}

.table-icrbm {
	border-bottom: 1px solid black;
}

.table-cell-icrbm {
	padding-top: 10px;
	margin: 0px auto;
}

.table-cell-icrbm input{
	width: 100%;
}